body {
    background-color: lightcoral;
}
h1,h2,h3,h4,h5,h6 {
    text-transform: capitalize;
}
/*---- home ----*/
#home {
    height: 60vh;
}
#home .carousel-inner img {
    height: 700px;
}
#home .carousel-inner::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
}
#home .text {
    position: absolute;
    top: 30%;
    left: 15%;
    color: #fff;
    z-index: 100;
}
#home .text h1 {
    font-size: 4rem;
    font-weight: bolder;
}
#home .text p {
    max-width: 60%;
}
#home .carousel-indicators img {
    width: 100%;
    height: 200px;
    margin: 0;
    border: none;
}
#home .carousel-indicators {
    bottom: -20%;
}
#home .carousel-indicators a {
    background: #000;
    margin: 5px;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 500;
}
.carousel-indicators .active {
    z-index: 10;
}
#home .carousel-indicators p {
   position: absolute;
}
#home .carousel-control-prev,
#home .carousel-control-next {
    z-index: 100;
}

/*---- Media Query ----*/
@media only screen and (max-width: 800px) {
    #home .text h1 {
        font-size: 3rem;
    }
    #home .text p {
        max-width: 80%;
    }
    #home .carousel-indicators p {
        font-size: 1.2rem !important;
    }
}
@media only screen and (max-width: 600px) {
    
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        background-color: #fff;
    }
    #home .text h1 {
        font-size: 2rem;
    }
    #home .text p {
        max-width: 100%;
    }
    #home .carousel-indicators {
        display: none;
    }
}