body {
    background-color: #eee;
}
h1,h2,h3,h4,h5,h6 {
    text-transform: capitalize;
}
/*---- home ----*/
#home {
    
}
#home .carousel-inner img {
    height: 700px;
    margin-top: 60px;
}
#home .carousel-inner::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
}
#home .text {
    position: absolute;
    top: 30%;
    left: 15%;
    color: #fff;
    z-index: 100;
}
#home .text h1 {
    font-size: 4rem;
    font-weight: bolder;
}
#home .text p {
    max-width: 60%;
}
#home .carousel-indicators img {
    width: 100%;
    height: 200px; 
    margin: 0;
    border: none;
}
#home .carousel-indicators {
    bottom: -18%;
}
#home .carousel-indicators div {
    background: #000;
    margin: 5px;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 500;
    cursor: none;
}
.carousel-indicators .active {
    z-index: 10;
}
#home .carousel-indicators p {
   position: absolute;
   z-index: -1;
}
#home .carousel-control-prev,
#home .carousel-control-next {
    z-index: 100;
}
#home .carousel-inner {
    height: 80vh;
}
/* start new items */
#newItems {
    margin-top: 150px;
}
#newItems img {
    height: 300px;
    width: 100%;
}
#newItems .title {
    font-size: 1.3rem;
}
/* ---- our sections ----
#our-sections {
    margin: 10% auto 10px;
    height: 300px;
    background-color: burlywood;
    display: flex;
    align-items: center;
    justify-content: center;
}
#our-sections .section-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#our-sections img {
    
}
#our-sections p {
    background-color: #00000099;
    color: #fff;
    text-align: center;
    width: 80%;
    height: 20%;
    padding-top: 5px;
} */
/*---- new items ----*/
#new-items {
    margin: 60px auto;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*---- Media Query ----*/
@media only screen and (max-width: 800px) {
    #home .text h1 {
        font-size: 3rem;
    }
    #home .text p {
        max-width: 80%;
    }
    #home .carousel-indicators p {
        font-size: 1.2rem !important;
    }
}
@media only screen and (max-width: 600px) {
    
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        background-color: #fff;
    }
    #home .text h1 {
        font-size: 2rem;
    }
    #home .text p {
        max-width: 100%;
    }
    #home .carousel-indicators {
        display: none;
    }
    #newItems {
        margin-top: 50px;
    }
}
